@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;  /* Utilisation de la police pixelisée */
  background-color: #333;  /* Couleur de fond gris foncé */
  color: #FFFFFF;  /* Couleur de texte blanche */
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;  /* Couleur de fond verte du header */
  padding: 20px;
  text-align: center;
}

.banner {
  background-image: url('https://via.placeholder.com/1200x400');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: #4CAF50;  /* Couleur du texte de la bannière */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.products {
  padding: 40px 20px;
  background-color: #333;  /* Couleur de fond des sections */
}

.product {
  border: 1px solid #4CAF50;  /* Couleur des bordures des produits */
  padding: 16px;
  margin: 16px;
  text-align: center;
  background-color: #444;  /* Couleur de fond des produits légèrement plus claire */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 32px);
}

.product img {
  width: 150px;
  height: 150px;
}

.cta {
  margin-top: 32px;
  padding: 20px;
  background-color: #4CAF50;  /* Couleur de fond des appels à l'action */
  color: #FFFFFF;
  text-align: center;
}

.cta a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}
